<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/header.css" />
    <link rel="stylesheet" href="../assets/css/footer.css" />
    <link rel="stylesheet" href="../assets/css/login.css" />
    <script src="../assets/js/login.js"></script>

    <title>Login</title>
</head>
<body>
    


    
    <div class="container">
        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Введите Email" name="email" id="email" required>
     
        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" id="psw" required>
    
        <button id="login-button">Login</button>
        <div class="container signin">
            <p>Если нет аккаунта, то необходимо зарегистрироваться? <a href="/register">Регистрация</a>.</p>
          </div>
    </div>
    
       

</body>
</html>





