<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/header.css" />
    <link rel="stylesheet" href="../assets/css/footer.css" />
    <link rel="stylesheet" href="../assets/css/item.css" />
    <script src="../assets/js/item.js"></script>
    <title>Document</title>
  </head>
  <body>
    <header>
      <h2>
        Каталог <br />
        спецтехники
      </h2>
      <a href="../pages/admin.html">
        <button>Добавить</button>
      </a>
    </header>
    <div class="content-wrapper">
      <main>
        <div class="top-part">
          <h2 id="name"></h2>
          <img id="loaded-photo"
            src=""
            alt=""
          />
        </div>

        <section class="description">
          <div class="head-a">
            <h1>ОПИСАНИЕ</h1>
            <a>
              <button id = "go-to-redact">редактировать</button>
            </a>
          </div>
          <p id="description">
            
          </p>
        </section>
        <section class="characteristics">
          <h1>ХАРАКТЕРИСТИКИ</h1>
          <table id="characteristics_table">
            <tr id="base">
              <td>База</td>
              <!-- <td>Урал 583154</td> -->
            </tr>
            <tr id="feature">
              <td>Надстройка</td>
              
            </tr>
            <tr id="engine_volume">
              <td>Объем двигателя</td>
              
            </tr>
            <tr id="power">
              <td>Мощность</td>
              
            </tr>
            <tr id="torque">
              <td>Крутящий момент</td>
             
            </tr>
            <tr id="fuel">
              <td>Топливо</td>
           
            </tr>
            <tr id="tires">
              <td>Шины</td>
             
            </tr>
            <tr id="weight">
              <td>Масса</td>
            
            </tr>
            <tr id="sizes">
              <td>Габаритные размеры</td>
              
            </tr>
            <tr id="fuel_tank_volume">
              <td>Объем топливного бака</td>
          
            </tr>
          </table>
        </section>
      </main>

      <footer>
        <div class="footer-content">
          <h2>8 800 228 13 37</h2>
          <p>пн-пт: с 9:00 до 18:00</p>
          <p>633530, Россия, Новосибирская область, Черепаново-ленд</p>
        </div>
      </footer>
    </div>
  </body>
</html>
