<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/header.css" />
    <link rel="stylesheet" href="../assets/css/footer.css" />
    <link rel="stylesheet" href="../assets/css/list.css" />
    <script src="../assets/js/list.js"></script>
    <title>Крутой сайт</title>
  </head>
  <body>
    <header>
      <h2 id="catalog">
        Каталог <br />
        спецтехники
      </h2>
      <a href="/admin">
        <button>Добавить</button>
      </a>
      <a href="/">
        <button>Выйти</button>
      </a>
    </header>

    <div class="content-wrapper">
      <main>
        <h1>Список техники</h1>
        <section class="content">
         
        </section>
      </main>
      <footer>
        <div class="footer-content">
          <h2>8 800 228 13 37</h2>
          <p>пн-пт: с 9:00 до 18:00</p>
          <p>633530, Россия, Новосибирская область, Черепаново-ленд</p>
        </div>
      </footer>
    </div>
  </body>
</html>

<!-- 

<div class="item">
  <img
    src="https://uzst.ru/images/stories/contentimages/catalog/15512-26977.jpg"
    alt=""
  />
  <p>Автокран «Челябинец» КС-45721-21 Урал 4320</p>
  <a href="../pages/item.html?">
    <button>Подробнее</button>
  </a>
</div>
<div class="item">
  <img
    src="https://uzst.ru/images/stories/contentimages/catalog/15512-26977.jpg"
    alt=""
  />
  <p>Автокран «Челябинец» КС-45721-21 Урал 4320</p>
  <a href="../pages/item.html">
    <button>Подробнее</button>
  </a>
</div>
<div class="item">
  <img
    src="https://uzst.ru/images/stories/contentimages/catalog/15512-26977.jpg"
    alt=""
  />
  <p>Автокран «Челябинец» КС-45721-21 Урал 4320</p>
  <a href="../pages/item.html">
    <button>Подробнее</button>
  </a>
</div>
<div class="item">
  <img
    src="https://uzst.ru/images/stories/contentimages/catalog/15512-26977.jpg"
    alt=""
  />
  <p>Автокран «Челябинец» КС-45721-21 Урал 4320</p>
  <a href="../pages/item.html">
    <a href="../pages/item.html">
      <button>Подробнее</button>
    </a>
  </a>
</div>
<div class="item">
  <img
    src="https://uzst.ru/images/stories/contentimages/catalog/15512-26977.jpg"
    alt=""
  />
  <p>Автокран «Челябинец» КС-45721-21 Урал 4320</p>
  <a href="../pages/item.html">
    <a href="../pages/item.html">
      <button>Подробнее</button>
    </a>
  </a>
</div>
<div class="item">
  <img
    src="https://uzst.ru/images/stories/contentimages/catalog/15512-26977.jpg"
    alt=""
  />
  <p>Автокран «Челябинец» КС-45721-21 Урал 4320</p>
  <a href="../pages/item.html">
    <button>Подробнее</button>
  </a>
</div> -->